<section>
  <h2>{{Title}}</h2>
  <form>
    <label>Numbers Set: </label>
    <input type="text" placeholder="numbers only no commas" id="input">
    <button type="button" id="run">Hit me!</button>
  </form>
  <hr/>
    <p>Total Numbers: <span>{{totalNums}}</span></p>
    <p>Mean: <span>{{mean}}</span></p>
    <p>Median: <span>{{median}}</span></p>
    <p>Mode: <span>{{mode}}</span></p>
</section>
